<!doctype html>
<html lang="en" ng:app="partyranking">
<head>
    <meta charset="utf-8" />
    <title>Party ranking</title>

    <script src="/modules/angular.min.js"></script>
    <script src="/modules/cookies.min.js"></script>
    <script src="/modules/routes.min.js"></script>
    <script src="/modules/resources.min.js"></script>
    <script src="/modules/facebook.min.js"></script>
    <script src="/resources.js"></script>

    <script src="/index.js"></script>
    <script src="/controllers/user.js"></script>
    <script src="/controllers/event.js"></script>
</head>
<body>
    <div ng:view></div>
</body>
</html>
